body {
    color: #243952;
    background-image: url(../images/tundra-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#display-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 1.5rem;
}

#left-column {
    width: 100%;
    max-width: 40vw;
}

#branding-container {
    padding: 1rem;
    height: 20vh;
}

#branding-container img {
    max-height: 100%;
    display: block;
}

#right-column {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(179,216,246, 0.8);
}

.service-section {
    margin: 0rem 2.5rem;
    border-radius: 1.5rem;
    background-color: rgba(250, 251, 247, 0.5);
}

.service-header {
    color: #000000;
    padding: 0 0 0 1.5rem;
}

.service-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

.service-info {
    font-size: 2rem;
}

.service-subheader {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.04rem;
    padding-left: 1.5rem;
}

.section-active {
    border-radius: 1.5rem 0 0 1.5rem;
    margin: 0.75rem 0 0.75rem 5rem;
}

.section-active .service-header {
    width: 100%;
    padding-right: 0.5rem;
    border-radius: 1.5rem 0 0 0;
    text-align: end;
    background-color: rgba(179,216,246, 0.7);
}

.session-options {
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.session-option {
    margin: 0 0.5rem;
    font-size: 1.8rem;
    display: flex;
    border: 0.1rem solid black; 
}

.session-left {
    width: 40%;
    font-size: 3rem;
    padding: 0 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #243952;
}

.session-right {
    width: 100%;
    padding: 0 1rem 0 0.5rem;
    line-height: 1.2;
    text-align: center;
}

.session-count {
    text-align: center;
    color: #fcd43f;
}

.session-price {
    font-size: 2.7rem;
    font-weight: bold;
    color: black;
}

.session-cost {
    font-size: 1.4rem;
}

.details-container {
    display: flex;
    flex-direction: column;
}

.image-wrapper {
    display: flex;
    flex: 3;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.image-wrapper.portrait {
    flex-direction: row;
}

.image-wrapper.landscape {
    flex-direction: column;
}

.image-wrapper img {
    flex: 0 1 auto;
    object-fit: contain;
}

.portrait-layout {
    max-width: 55rem;
}

.landscape-layout {
    max-height: 40rem;
}

.description {
    flex: 1;
    padding: 1rem;
    margin: 2rem;
    font-size: 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    color: black;
}