body {
    /* background-color: #003366; */
    color: #4DA6FF;
    background-image: url(../images/tundra-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.branding {
    margin: 2.5%;
    width: 14%;
}
